
.menu{
    width:100% ;
    height: auto;
    position: fixed;
    top:0px; 
    left:0px ;
    background: #000;
    z-index: 999 ;
    opacity: 0.8;
    padding:20px 0px ;
    transition: 0.6s ;
    &__logo{
       float:left ;
       color:white ;
       padding:0px 20px ;
       line-height: 30px;
       &__image{
           width:60px;
           height:60px;
           display: inline-block;
       }
       &__text{
           font-size: 30px;
           transform: translateY(-15px);
           display: inline-block;
       }
    }
    &__link{
        float:right ;
        line-height: 30px;
        padding:0px 20px ;
        & ul{
            padding:0px; 
            margin:0px ;
            list-style-type: none;
            font-size: 13px;
        }
        & ul li{
            float:left ;
        }
        & ul li a:hover{
            text-decoration: underline;
        }
        & ul li:last-child{
            color:white ;
            padding:16px 16px ;
            display: none;
        }
        & ul li a{
            padding:16px 16px ;
            color:white ;
            text-decoration: none;
            display: block ;
        }
    }
}
.show-menu{
    display: block;
}