.overflow{
    position: absolute;
    bottom:0px; 
    left:0px ;
    width:100% ;
    height: 0px ;
    background: rgba(51, 51, 51, 0.651);
    overflow: hidden;
    &__inner{
        position: absolute;
        bottom:20% ;
        left:50% ;
        transform: translateX(-50%) ;
        text-align:center ;
    }
}
.icon-top , 
.icon-bottom{
    display: inline-block;
    margin:2px ;
}
.icon-top{
    background: rgb(9, 187, 3);
    padding:10px 16px ;
    color:white ;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
.icon-bottom{
    background: rgb(9, 187, 3);
    padding:10px 16px ;
    color:white ;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}